<div id="app">
    <header class="row header" role="banner">
        <div id="menuHeader">
            <a href="#main"><h1 class="inline">AsTeRICS Ergo Grid</h1></a>
            <div class="inline spaced">
                <input type="text" placeholder="Search grid" v-model="searchText">
            </div>
            <div class="inline spaced">
                <button @click="addGrid()" data-i18n>New Grid // Neues Grid</button>
            </div>
            <div class="spaced inline">
                <button @click="exportToFile()" data-i18n>Export all to File // Alles in File exportieren</button>
            </div>
            <div class="spaced inline">
                <input type="file" accept=".grd" @change="changeFile"/>
                <button @click="importFromFile()" :disabled="!importFile" data-i18n>Import from File // Aus File importieren</button>
            </div>
        </div>
    </header>
    <main role="main" class="row content">
        <p data-i18n>All saved Grids: // Alle gespeicherten Grids</p>
        <ul id="gridList">
            <li v-for="grid in filteredGrids">
                <div v-if="editModeId !== grid.id">
                    <a :href="'#grid/' + grid.id">{{ grid.label }}</a>
                    <button @click="enableEdit(grid.id, grid.label)" data-i18n="">Edit // Bearbeiten</button>
                    <button @click="deleteGrid(grid.id, grid.label)" data-i18n="">Delete // Löschen</button>
                </div>
                <div v-if="editModeId === grid.id">
                    <input v-focus v-model="grid.label"/>
                    <button v-if="originalLabel" @click="cancelEdit(grid.id)" data-i18n>Cancel // Abbrechen</button>
                    <button @click="finishEdit(grid.id, grid.label)" :disabled="grids.map(g => g.label).filter(l => l == grid.label).length > 1" data-i18n>Save // Speichern</button>
                </div>
            </li>
        </ul>
        <p v-if="filteredGrids.length == 0" data-i18n>
            No Grids found! // Keine Ergebnisse gefunden!
        </p>
    </main>
</div>