<div id="app" class="all-grids-view">
    <div id="grid-mask" v-if="showLoading" class="grid-container">
        <i class="fas fa-4x fa-spinner fa-spin"/>
    </div>
    <header class="row header" role="banner">
        <div id="menuHeader" class="menuHeader">
            <a href="#main" class="hide-mobile"><img id="astericsIcon" class="inline" src="img/asterics_icon.png"/><h1 class="inline">AsTeRICS Grid</h1></a>
            <div id="buttons" class="menuButtons inline-desktop">
                <div class="inline spaced">
                    <button @click="back" title="Back"><i class="fas fa-angle-left"/> <span class="hide-mobile" data-i18n>Back // Zurück</span></button>
                </div>
                <div class="inline spaced third-space-mobile">
                    <input type="text" :placeholder="'PLACEHOLDER_SEARCH_GRID' | translate" v-model="searchText" style="width: 100%">
                </div>
                <div class="inline spaced right-mobile">
                    <div class="inline hide-mobile">
                        <button @click="addGrid()"><i class="fas fa-plus"/> <span data-i18n="">New Grid // Neues Grid</span></button>
                    </div>
                    <div class="spaced inline" style="display: none">
                        <input type="file" id="inputFile" @change="importFromFile" accept=".grd"/>
                        <input type="file" id="inputFileBackup" @change="restoreBackupFromFile" accept=".grb"/>
                    </div>
                    <div class="spaced inline">
                        <button id="moreButton" title="More"><i class="fas fa-bars"></i> <span class="hide-mobile" data-i18n>More // Mehr</span></button>
                    </div>
                </div>
            </div>
        </div>
    </header>
    <main role="main" class="row content" id="allGridsContent">
        <h2 data-i18n>Saved Grids // Gespeicherte Grids</h2>
        <ul id="gridList" v-show="filteredGrids.length > 0">
            <li class="hide-mobile table-headers">
                <span class="four columns">Name</span>
                <span class="four columns" data-i18n="">Actions // Aktionen</span><br/>
            </li>
            <li v-for="grid in filteredGrids" class="grid-table-elem">
                <div class="row">
                    <div class="four columns">
                        <div v-if="editModeId !== grid.id">
                            <a :href="'#grid/' + grid.id">{{ grid.label }}</a>
                            <button class="small-button" @click="enableEdit(grid.id, grid.label)"><i class="far fa-edit"/></button>
                        </div>
                        <div v-if="editModeId === grid.id">
                            <input type="text" v-focus="" v-model="grid.label"/>
                            <div class="inline">
                                <button class="small-button" v-if="originalLabel" @click="cancelEdit(grid.id)"><i class="fas fa-times"/></button>
                                <button class="small-button" @click="finishEdit(grid.id, grid.label)" :disabled="isLabelDuplicate(grid.label)"><i class="fas fa-check"/></button>
                            </div>
                        </div>
                    </div>
                    <div class="eight columns">
                        <div class="four columns show-mobile" style="margin: 0.5em 0 0 0.2em" data-i18n="">Actions // Aktionen</div>
                        <button @click="show(grid.id)"><i class="far fa-eye"/> <span class="hide-mobile" data-i18n="">Show // Öffnen</span></button>
                        <button @click="edit(grid.id)"><i class="far fa-edit"/> <span class="hide-mobile" data-i18n="">Edit // Bearbeiten</span></button>
                        <button @click="clone(grid.id)"><i class="far fa-clone"/> <span class="hide-mobile" data-i18n="">Clone // Duplizieren</span></button>
                        <button @click="deleteGrid(grid.id, grid.label)"><i class="far fa-trash-alt"/> <span class="hide-mobile" data-i18n="">Delete // Löschen</span></button>
                        <button @click="exportToFile(grid.id)"><i class="fas fa-file-export"/> <span class="hide-mobile" data-i18n="">Export // Exportieren</span></button>
                    </div>
                </div>
            </li>
        </ul>
        <p v-if="filteredGrids.length == 0" data-i18n>
            No Grids found! // Keine Ergebnisse gefunden!
        </p>
    </main>
</div>