<header id="app" class="row header" role="banner" v-cloak>
    <div id="menuHeader">
        <a href="#main"><h1 class="inline">AsTeRICS Ergo Grid</h1></a>
        <div class="inline spaced hide-mobile"><span data-i18n>Edit grid // Bearbeiten von Grid</span> "{{gridData.label}}"</div>
        <div id="menuButtons" class="inline">
            <div class="inline spaced">
                <button @click="undo" title="Undo" :disabled="!canUndo"><i class="fas fa-undo"></i></button>
                <button @click="redo" title="Redo" :disabled="!canRedo"><i class="fas fa-redo"></i></button>
            </div>
            <div class="inline spaced">
                <a :href="'#grid/' + gridData.id" class="spaced" id="btnMenuEdit" data-i18n>Exit edit view // Bearbeiten verlassen</a>
                <a href="#grids" id="btnMenuManage" data-i18n>Manage grids // Grids verwalten</a>
            </div>
        </div>
    </div>
    <div class="inline spaced">
        <label for="numRows" data-i18n>Number of rows // Anzahl Zeilen</label>
        <input id="numRows" type="number" v-model="gridData.rowCount" @change="changeRowCount" min="1" max="50"/>
    </div>
    <div class="inline spaced">
        <button @click="fillGaps" data-i18n>Fill gaps // Lücken füllen</button>
        <button @click="compactLayout" data-i18n>Compact // Layout kompaktieren</button>
    </div>
    <edit-grid-modal v-if="showModal" v-bind:edit-element-id="editElementId" v-bind:grid-id="gridData.id" @close="showModal = false" @reload="reload"/>
</header>
<main role="main" class="row content">
    <div id="grid-container" class="grid-container">
    </div>
</main>