<div id="app" v-cloak class="box">
    <header class="row header" role="banner">
        <div id="menuHeader" class="menuHeader">
            <a href="#main" class="hide-mobile"><img id="astericsIcon" class="inline" src="img/asterics_icon.png"/><h1 class="inline">AsTeRICS Grid</h1></a>
            <div class="inline spaced hide-mobile">
                <span v-if="!isLocalUser" class="fa-stack fa-1x" style="margin-bottom: 1rem" :title="syncState | translate">
                    <i class="fas fa-cloud fa-stack-2x" style="color: lightblue"></i>
                    <!-- TODO move sync state to own component -->
                    <i v-show="syncState === constants.DB_SYNC_STATE_SYNCINC" class="fas fa-sync-alt fa-stack-1x fa-spin" style="left: 3px; top: 1px"></i>
                    <i v-show="syncState === constants.DB_SYNC_STATE_SYNCED" class="fas fa-check fa-stack-1x" style="left: 3px; top: 2px"></i>
                    <i v-show="syncState === constants.DB_SYNC_STATE_STOPPED" class="fas fa-pause fa-stack-1x" style="left: 3px; top: 2px"></i>
                    <i v-show="syncState === constants.DB_SYNC_STATE_ONLINEONLY" class="fas fa-globe fa-stack-1x" style="left: 3px; top: 2px"></i>
                    <i v-show="!syncState || syncState === constants.DB_SYNC_STATE_FAIL" class="fas fa-times fa-stack-1x" style="left: 3px; top: 2px"></i>
                </span>
            </div>
            <div class="inline spaced hide-mobile"><span data-i18n>Edit grid // Bearbeiten von Grid</span> "{{gridData.label}}"</div>
            <div id="buttons" class="menuButtons inline-desktop">
                <div class="inline left-mobile">
                    <button @click="back" title="Back"><i class="fas fa-angle-left"></i> <span class="hide-mobile" data-i18n>Back // Zurück</span></button>
                </div>
                <div class="inline spaced left-mobile show-mobile">
                    <span v-if="!isLocalUser" class="fa-stack fa-1x" style="margin-bottom: -1rem" :title="syncState | translate">
                        <i class="fas fa-cloud fa-stack-2x" style="color: lightblue"></i>
                        <i v-show="syncState === constants.DB_SYNC_STATE_SYNCINC" class="fas fa-sync-alt fa-stack-1x fa-spin" style="left: 3px; top: 1px"></i>
                        <i v-show="syncState === constants.DB_SYNC_STATE_SYNCED" class="fas fa-check fa-stack-1x" style="left: 3px; top: 2px"></i>
                        <i v-show="syncState === constants.DB_SYNC_STATE_STOPPED" class="fas fa-pause fa-stack-1x" style="left: 3px; top: 2px"></i>
                        <i v-show="syncState === constants.DB_SYNC_STATE_ONLINEONLY" class="fas fa-globe fa-stack-1x" style="left: 3px; top: 2px"></i>
                        <i v-show="!syncState || syncState === constants.DB_SYNC_STATE_FAIL" class="fas fa-times fa-stack-1x" style="left: 3px; top: 2px"></i>
                    </span>
                </div>
                <div class="right-mobile inline spaced">
                    <div class="inline spaced">
                        <button @click="undo" title="Undo" :disabled="!canUndo || doingUndoRedo" style="padding: 0 10px;"><i class="fas fa-undo"></i> <span class="hide-mobile" data-i18n>Undo // Rückgängig</span></button>
                        <button @click="redo" title="Redo" :disabled="!canRedo || doingUndoRedo" style="padding: 0 10px;"><i class="fas fa-redo"></i> <span class="hide-mobile" data-i18n>Redo // Wiederherstellen</span></button>
                    </div>
                    <div class="inline">
                        <button id="moreButton" title="More" class="spaced"><i class="fas fa-bars"></i> <span class="hide-mobile" data-i18n>More // Mehr</span></button>
                    </div>
                </div>
            </div>
        </div>
    </header>
    <div class="row content spaced" v-if="!gridData.gridElements || gridData.gridElements.length == 0" role="main">
        <div style="margin-top: 2em">
            <span data-i18n>No elements. // Keine Elemente.</span> <a href="javascript:void(0);" @click="newElements()" data-i18n="">Create new elements // Neue Elemente anlegen</a>
            <div data-i18n="">Elements also can be created using a right mouse click. // Elemente können auch über einen rechten Mausklick hinzugefügt werden.</div>
        </div>
    </div>
    <div>
        <edit-grid-modal v-if="showEditModal" v-bind:edit-element-id-param="editElementId" v-bind:grid-data="gridData" @close="showEditModal = false" @reload="reload"/>
    </div>
    <div>
        <add-multiple-modal v-if="showMultipleModal" v-bind:grid-data="gridData" @close="showMultipleModal = false" @reload="reload"/>
    </div>
    <div>
        <edit-actions-modal v-if="showActionsModal" v-bind:edit-element-id-param="editElementId" v-bind:grid-data="gridData" @close="showActionsModal = false" @reload="reload"/>
    </div>
    <div id="grid-mask" v-if="!showGrid" class="grid-container">
        <i class="fas fa-4x fa-spinner fa-spin"/>
    </div>
    <main role="main" class="row content">
        <div id="grid-container" class="grid-container">
        </div>
        <div id="grid-layout-background-wrapper" class="grid-container" v-if="gridData.gridElements && gridData.gridElements.length > 0" style="margin: 10px;">
            <div id="grid-layout-background-vertical" class="grid-container" style="margin-left: 204px; background-size: 209px 209px;
    background-image: linear-gradient(to right, grey 1px, transparent 1px)">
            </div>
            <div id="grid-layout-background-horizontal" class="grid-container" style="margin-top: 204px; background-size: 209px 209px;
    background-image: linear-gradient(to bottom, grey 1px, transparent 1px);">
            </div>
        </div>
    </main>
</div>