<header class="row header" role="banner">
    <div id="menuHeader">
        <a href="#main"><h1 class="inline">AsTeRICS Ergo Grid</h1></a>
        <div class="inline spaced" id="menuButtons">
            <button id="btnMenuEdit" data-i18n>Edit grid // Grid editieren</button>
            <button id="btnMenuInputOpts" data-i18n>Input options // Eingabeoptionen</button>
            <a class="ui-button" href="#grids" id="btnMenuManage" data-i18n>Manage grids // Grids verwalten</a>
        </div>
    </div>
    <div id="menuExpandedInputOpts" style="display: none">
        <button id="btnStartScan" data-i18n>Start Scanning // Scanning starten</button>
        <button id="btnStopScan" data-i18n>Stop Scanning // Scanning stoppen</button>
        <div class="spaced inline">
            <label for="inScanTime" data-i18n>Scanning Time // Scanning Zeit</label>
            <input type="range" id="inScanTime" min="100" max="3000"/>
        </div>
        <div class="spaced inline">
            <label for="chkVerticalScanning" data-i18n>Scanning vertikal</label>
            <input type="checkbox" id="chkVerticalScanning" checked/>
        </div>
        <div class="spaced inline">
            <label for="chkBinaryScanning" data-i18n>Scanning binär</label>
            <input type="checkbox" id="chkBinaryScanning" checked/>
        </div>
        <div class="spaced inline">
            <label for="chkHover" data-i18n>Mouse Hovering // Maus Hovering</label>
            <input type="checkbox" id="chkHover"/>
        </div>
        <div class="spaced inline">
            <label for="chkHover" data-i18n>Number of rows // Anzahl Zeilen</label>
            <input type="number" id="inNumberRows" min="1" max="50" value="9"/>
        </div>
        <div class="spaced inline">
            <button id="btnExportDB"><label for="btnExportDB" data-i18n>Export</label></button>
        </div>
        <div class="spaced inline">
            <input type="file" id="inImportDB" accept=".grd"/>
        </div>
    </div>
</header>
<main role="main" class="row content">
    <div id="grid-container" class="grid-container">
    </div>
</main>