<header id="app" class="row header" role="banner" v-cloak>
    <div id="menuHeader">
        <a href="#main"><h1 class="inline">AsTeRICS Ergo Grid</h1></a>
        <div id="menuButtons" class="inline">
            <div class="inline spaced">
                <button v-if="!showInputOptions" @click="toggleInputMenu" data-i18n>Show input options // Zeige Eingabeoptionen</button>
                <button v-if="showInputOptions" @click="toggleInputMenu" data-i18n>Hide input options // Verstecke Eingabeoptionen</button>
            </div>
            <div class="inline spaced">
                <a :href="'#grid/edit/' + gridData.id" class="spaced" id="btnMenuEdit" data-i18n>Edit grid // Grid bearbeiten</a>
                <a href="#grids" id="btnMenuManage" data-i18n>Manage grids // Grids verwalten</a>
            </div>
        </div>
    </div>
    <div id="menuExpandedInputOpts" v-if="showInputOptions">
        <fieldset class="spaced inline">
            <legend>Scanning</legend>
            <button v-if="!isScanning" @click="toggleScanning" data-i18n>Start Scanning // Scanning starten</button>
            <button v-if="isScanning" @click="toggleScanning" data-i18n>Stop Scanning // Scanning stoppen</button>
            <div class="spaced inline">
                <label for="inScanTime" data-i18n>Scanning Time // Scanning Zeit</label>
                <input type="range" id="inScanTime" v-model="gridData.inputConfig.scanTimeoutMs" @change="changeScanningMs" min="100" max="3000"/>
            </div>
            <div class="spaced inline">
                <label for="chkVerticalScanning" data-i18n>Vertical scanning // Scanning vertikal</label>
                <input type="checkbox" id="chkVerticalScanning" v-model="gridData.inputConfig.scanVertical" @change="setVerticalScanning" checked/>
            </div>
            <div class="spaced inline">
                <label for="chkBinaryScanning" data-i18n>Binary scanning // Scanning binär</label>
                <input type="checkbox" id="chkBinaryScanning" v-model="gridData.inputConfig.binaryScanning" @change="setBinaryScanning" checked/>
            </div>
        </fieldset>
        <fieldset class="spaced inline">
            <legend data-i18n>Other options // Andere Optionen</legend>
            <div class="spaced inline">
                <label for="chkHover">Hovering</label>
                <input type="checkbox" id="chkHover" @change="setHover"/>
            </div>
            <div class="spaced inline">
                <label for="chkMouse" data-i18n>Select with mouse click // Auswahl mit Mausklick</label>
                <input type="checkbox" id="chkMouse" checked @change="setClickControl"/>
            </div>
        </fieldset>
    </div>
</header>
<main role="main" class="row content">
    <div id="grid-container" class="grid-container">
    </div>
</main>
