<div id="app" v-cloak>
    <header class="row header" role="banner">
        <div id="menuHeader" class="menuHeader">
            <a href="#main" class="hide-mobile"><img id="astericsIcon" class="inline" src="img/asterics_icon.png"/><h1 class="inline">AsTeRICS Ergo Grid</h1></a>
            <div class="inline spaced hide-mobile"><span data-i18n>Edit grid // Bearbeiten von Grid</span> "{{gridData.label}}"</div>
            <div id="buttons" class="menuButtons inline-desktop">
                <div class="inline left-mobile">
                    <button @click="back" title="Back"><i class="fas fa-angle-left"></i> <span class="hide-mobile" data-i18n>Back // Zurück</span></button>
                </div>
                <div class="right-mobile inline spaced">
                    <div class="inline spaced">
                        <button @click="undo" title="Undo" :disabled="!canUndo || doingUndoRedo" style="padding: 0 10px;"><i class="fas fa-undo"></i> <span class="hide-mobile" data-i18n>Undo // Rückgängig</span></button>
                        <button @click="redo" title="Redo" :disabled="!canRedo || doingUndoRedo" style="padding: 0 10px;"><i class="fas fa-redo"></i> <span class="hide-mobile" data-i18n>Redo // Wiederherstellen</span></button>
                    </div>
                    <div class="inline">
                        <button id="moreButton" title="More" class="spaced"><i class="fas fa-bars"></i> <span class="hide-mobile" data-i18n>More // Mehr</span></button>
                    </div>
                </div>
            </div>
        </div>
    </header>
    <div class="spaced" v-show="!gridData.gridElements || gridData.gridElements.length == 0" role="main" class="row content">

        <div style="margin-top: 2em">
            <span data-i18n>No elements. // Keine Elemente.</span> <a href="javascript:void(0);" @click="newElements()" data-i18n="">Create new elements // Neue Elemente anlegen</a>
            <div data-i18n="">Elements also can be created using a right mouse click. // Elemente können auch über einen rechten Mausklick hinzugefügt werden.</div>
        </div>
    </div>
    <div>
        <edit-grid-modal v-if="showEditModal" v-bind:edit-element-id="editElementId" v-bind:grid-data="gridData" @close="showEditModal = false" @reload="reload"/>
    </div>
    <div>
        <add-multiple-modal v-if="showMultipleModal" v-bind:grid-data="gridData" @close="showMultipleModal = false" @reload="reload"/>
    </div>
</div>

<main role="main" class="row content">
    <div id="grid-container" class="grid-container">
    </div>
</main>