.grid-item-content {
    background: lightblue;
}

.selected .grid-item-content {
    background: darkblue !important;
}

.scanFocus .grid-item-content {
    border: thick solid red !important;
}

.mouseentered .grid-item-content{
    border: thick solid green !important;
}

.scanInactive .grid-item-content {
    background: lightgray !important;
    color: darkgray !important;
}

.spaced {
    margin-left: 2em;
    margin-right: 2em;
}

.inline {
    display: inline-block;
}
