.scanFocus{
    border: thick solid red;
}

.mouseentered{
    border: thick solid green;
}

.selected {
    background: lightblue;
}

.scanInactive {
    background: lightgray;
}

.spaced {
    margin-left: 2em;
    margin-right: 2em;
}

.inline {
    display: inline-block;
}