.scanFocus {
    outline: thick solid red !important;
}

.grid-item-content {
    background: lightblue;
}

.selected.grid-item-content {
    background: dodgerblue !important;
}

.mouseentered.grid-item-content{
    outline: thick solid green !important;
}

.scanInactive.grid-item-content {
    background: lightgray !important;
    color: darkgray !important;
}

.spaced {
    margin-left: 2em;
    margin-right: 2em;
}

.inline {
    display: inline-block;
}
