#grid {
  position: relative;
}
.item {
  display: block;
  position: absolute;
  margin: 5px;
  z-index: 1;
  background: #000;
  color: #fff;
}

.size-x-1 {
  width: 100px;
}
.size-x-2 {
  width: 210px;
}
.size-x-3 {
  width: 320px;
}

.size-y-1 {
  height: 100px;
}
.size-y-2 {
  height: 210px;
}
.size-y-3 {
  height: 320px;
}

.item.muuri-item-dragging {
  z-index: 3;
}
.item.muuri-item-releasing {
  z-index: 2;
}
.item.muuri-item-hidden {
  z-index: 0;
}
.item-content {
  position: relative;
  width: 100%;
  height: 100%;
}