.modal h1 {
    font-size: 1.5em;
}

.modal-mask {
    position: fixed;
    z-index: 9998;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, .5);
    display: table;
    transition: opacity .3s ease;
}

.modal-wrapper {
    display: table-cell;
    vertical-align: middle;
}

.modal-container {
    max-width: 920px;
    max-height: 75vh;
    margin: 0px auto;
    padding: 2em 4em;
    background-color: #fff;
    border-radius: 2px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, .33);
    transition: all .3s ease;
    font-family: Helvetica, Arial, sans-serif;

    overflow-y: auto;
    overflow-x: hidden;
}

@media (max-width: 850px) {
    .modal-container {
        padding: 2em;
    }
}

.modal-footer {
    margin-top: 3em;
}

.modal-header h3 {
    margin-top: 0;
    color: #42b983;
}

.modal-body {
    margin-top: 2.5em;
}

.modal-body img {
    border: 1px solid lightgray;
}

.modal-body label {
    font-weight: bold;
}

/*
 * The following styles are auto-applied to elements with
 * transition="modal" when their visibility is toggled
 * by Vue.js.
 *
 * You can easily play with the modal transition by editing
 * these styles.
 */

.modal-enter {
    opacity: 0;
}

.modal-leave-active {
    opacity: 0;
}

.modal-enter .modal-container,
.modal-leave-active .modal-container {
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
}

/* File input custom style */
.file-input input[type="file"] {
    position:absolute;
    top: -1000px;
}

.close-button, .close-button:focus {
    float: right;
    padding: 0.5em 1em;
    color: black;
}

.black, .black:focus {
    color: black;
}

.blue {
    color: #2d7bb4;
}

.modal h2 {
    font-size: 1.3em;
    margin: 0;
    padding: 0;
}

.modal .row {
    margin-top: 1em;
}

.modal .warn {
    font-weight: bold;
    color: #c96a00;
}